:root {
  --rick-black: #020402;
  --chocolate-web: #D56F3E;
  --celadon-blue: #2978A0;
  --light-green: #8FE388;
  --beau-blue: #C6E0FF;
<<<<<<< HEAD
} 
=======
}
>>>>>>> 5bcbca23e24993ec60800a5ad431a35cd63f0461
